<!DOCTYPE html>
            <!--Import Thymeleaf-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" th="http://www.thymeleaf.org"
      lang="pt-br">
              <head>
                <meta charset="UTF-8" />
                <title>Professor - Adicionar</title>
                <!--Import Google Icon Font-->
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet" />
                <!--Import materialize.css-->
                <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"
                  media="screen,projection" />
              </head>
              <body>
                <div class="row">
                  <!--Campo para dados do professor-->
                  <form action="/professor/cadastrar" th:object="${professor}" xmlns:th="http://www.thymeleaf.org"
                    class="col s12" id="formsalvar">
                    <div class="row">
                      <div class="input-field col s6"> <label for="id" class="active">Id</label>
                        <input name="id" th:field="*{id}" readonly="readonly" id="id"
                          class="validate" /> </div>
                      <div class="input-field col s6"> <label for="nome" class="active">Nome</label>
                        <input name="nome" th:field="*{nome}" id="nome" class="validate" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12"> <label for="disponibilidade"
                          class="active">Disponibilidade</label> <input name="disponibilidade"
                          th:field="*{disponibilidade}" id="disponibilidade" class="validate" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s6"> <input class="waves-effect waves-light btn"
value="Salvar" type="submit" />
                      </div>
        </div>
    </form>
</div>
<br /> <br />

<br /> <br />

<div class="row">
    <!--Campo para pesquisar professor por nome-->
    <form action="/professor/pesquisar" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <label for="nome" class="active">Pesquisa por nome: </label>
                <input name="nome" id="nome" class="validate" />
                <input class="waves-effect waves-light btn" value="Buscar" type="submit" />
                <a class="waves-effect waves-light btn" href="/professor/listar">Listar Professores</a>
            </div>
        </div>
    </form>
</div>
<br /> <br />

<!--Campo para listar professores-->
<table class="striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Mãe</th>
        <th>Pai</th>
        <th>Matrícula</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    <tbody><tr th:each="professor : ${professores}">
        <td th:text=${professor.id}></td>
        <td th:text=${professor.nome}></td>
        <td th:text=${professor.sobrenome}></td>
        <td th:text=${professor.mae}></td>
        <td th:text=${professor.pai}></td>
        <td th:text=${professor.matricula}></td>
        <td th:text=${professor.email}></td>
        <td><a th:href="@{/professor/editar/{idprofessor}(idprofessor=${professor.id})}">Editar</a></td>
        <td><a th:href="@{/professor/excluir/{idprofessor}(idprofessor=${professor.id})}">Excluir</a></td>
    </tr>
</tbody></table>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/js/materialize.min.js"></script>
</body></html>