<!DOCTYPE html>
<!--Import Thymeleaf-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Endereço - Adicionar</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>

    </style>
</head>
<body>
<div class="row">
    <!--Campo para dados da endereco-->
    <form action="/endereco/salvar" method="post" th:object="${endereco}" class="col s12" id="formsalvar">
        <div class="row">
            <!--
            <div class="input-field col s4">
                <label for="id" class="active">Id</label>
                <input name="id" th:field="*{id}" readonly="readonly" id="id" class="validate">
            </div>
            -->

            <div class="input-field col s6">
                <label for="bairro" class="active">Bairro</label>
                <input name="bairro" th:field="*{bairro}" id="bairro" class="validate">
            </div>

            <div class="input-field col s6">
                <label for="cidade" class="active">Cidade</label>
                <input name="cidade" th:field="*{cidade}" id="cidade" class="validate">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="logradouro" class="active">Logradouro</label>
                <input name="logradouro" th:field="*{logradouro}" id="logradouro" class="validate">
            </div>

            <div class="input-field col s6">
                <label for="cep" class="active">CEP</label>
                <input name="cep" th:field="*{cep}" id="cep" class="validate">
            </div>
        </div>

        <div>
            <div class="input-field col s6">
                <label for="numero" class="active">Número</label>
                <input name="numero" th:field="*{numero}" id="numero" class="validate">
            </div>
        <div class="row">
            <div class="input-field col s6">
                <input class="waves-effect waves-light btn" type="submit" value="Salvar">
            </div>
        </div>
    </form>
</div>
<br> <br>

<div class="row">
    <!--Campo para pesquisar sala por bairro-->
    <form action="/endereco/pesquisar" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <label for="bairro" class="active">Pesquisa por bairro: </label>
                <input name="bairro" id="bairro" class="validate">
                <input class="waves-effect waves-light btn" type="submit" value="Buscar">
                <a class="waves-effect waves-light btn" href="/salas">Listar salas</a>
            </div>
        </div>
    </form>
</div>
<br> <br>

<table class="striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Logradouro</th>
        <th>CEP</th>
        <th>Número</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    <tr th:each="endereco : ${enderecos}">
        <td th:text=${endereco.id}></td>
        <td th:text=${endereco.bairro}></td>
        <td th:text=${endereco.cidade}></td>
        <td th:text=${endereco.logradouro}></td>
        <td th:text=${endereco.cep}></td>
        <td th:text=${endereco.numero}></td>
        <td><a th:href="@{/endereco/editar/{idendereco}(idendereco=${endereco.id})}">Editar</a></td>
        <td><a th:href="@{/endereco/excluir/{idendereco}(idendereco=${endereco.id})}">Excluir</a></td>
    </tr>
</table>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>