<!DOCTYPE html>
<!--Import Thymeleaf-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Endereço - Listar</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>

    </style>
</head>
<body>
<div class="row">
    <!--Campo para pesquisar aluno por nome-->
    <form action="aluno/pesquisar" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <label for="nome" class="active">Pesquisa por nome: </label>
                <input name="nome" id="nome" class="validate">
                <input class="waves-effect waves-light btn" type="submit" value="Buscar">
                <a class="waves-effect waves-light btn" href="/alunos">Listar alunos</a>
            </div>
        </div>
    </form>
</div>
<br> <br>

<!--Campo para listar alunos-->
<table class="striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Disponibilidade</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    <tr th:each="aluno : ${alunos}">
        <td th:text=${aluno.id}></td>
        <td><a th:href="@{/endereco/{idaluno}(idaluno=${aluno.id})}"><span th:text=${aluno.nome}></span></a></td>
        <td th:text=${aluno.disponibilidade}></td>
        <td><a th:href="@{/aluno/editar/{idaluno}(idaluno=${aluno.id})}">Editar</a></td>
        <td><a th:href="@{/aluno/excluir/{idaluno}(idaluno=${aluno.id})}">Excluir</a></td>
    </tr>
</table>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>