<!DOCTYPE html>
<!--Import Thymeleaf-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:spa="http://www.w3.org/1999/html"
      lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>JAcademy-Sala</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection"/>

    <style type="text/css">
        table.striped>tbody>tr:nth-child(odd){
            background-color: rgba(158,154,154,0.5);
        }

        form input[type = submit]{
            color:white;
        }
    </style>
</head>
<body>
<h3>Salas</h3>
<h5>Cadastro de cadeiras</h5>

<a class="waves-effect waves-light btn" href="/listarsalas">Listar salas</a>

<div th:each="sala : ${salas}">
    <div class="row">
        <p>ID: <span th:text="${sala.id}"></span></p>
        <p>Nome: <span th:text="${sala.nome}"></span></p>
        <p>Disponibilidade: <span th:text="${sala.disponibilidade}"></span></p>
    </div>

</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>
</html>