<!DOCTYPE html>
<html lang="pt-br" th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"><!--Import Thymeleaf-->
<head>
    <meta charset="UTF-8"/>
    <title>JAcademy</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/><!--Import materialize.css-->
    <link href="/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1 style="text-align: center;"><strong>JAcademy</strong></h1>

<h2 style="text-align: center;"><strong>UNIP&Ecirc;</strong></h2>

<div>&nbsp;</div>

<div>&nbsp;</div>

<a class="waves-effect waves-light btn" href="/sala/listar">Salas</a>
<a class="waves-effect waves-light btn" href="/turma/listar">Turmas</a>
<a class="waves-effect waves-light btn" href="/aluno/listar">Alunos</a>
<a class="waves-effect waves-light btn" href="/professor/listar">Professores</a>

</body>
</html>
