<!DOCTYPE html>
<html lang="pt-br">

<!--Import Thymeleaf-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>JAcademy</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
</head>
<body>
    <h1>JAcademy</h1>

    <a class="waves-effect waves-light btn" href="/alunos">Alunos</a>
    <a class="waves-effect waves-light btn" href="/salas">Salas</a>
    <a class="waves-effect waves-light btn" href="/enderecos">Endereços</a>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>