<!DOCTYPE html>
<!--Import Thymeleaf-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Aluno - Adicionar</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>

    </style>
</head>
<body>
<div class="row">
    <!--Campo para dados da aluno-->
    <form action="/aluno/salvar" method="post" th:object="${aluno}" class="col s12" id="formsalvar">
        <div class="row">
            <!--
            <div class="input-field col s4">
                <label for="id" class="active">Id</label>
                <input name="id" th:field="*{id}" readonly="readonly" id="id" class="validate">
            </div>
            -->
            <div class="input-field col s6">
                <label for="nome" class="active">Nome</label>
                <input name="nome" th:field="*{nome}" id="nome" class="validate">
            </div>

            <div class="input-field col s6">
                <label for="sobrenome" class="active">Sobrenome</label>
                <input name="sobrenome" th:field="*{sobrenome}" id="sobrenome" class="validate">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="mae" class="active">Mãe</label>
                <input name="mae" th:field="*{mae}" id="mae" class="validate">
            </div>

            <div class="input-field col s6">
                <label for="pai" class="active">Pai</label>
                <input name="pai" th:field="*{pai}" id="pai" class="validate">
            </div>
        </div>

        <div>
            <div class="input-field col s6">
                <label for="matricula" class="active">Matrícula</label>
                <input name="matricula" th:field="*{matricula}" id="matricula" class="validate">
            </div>

            <div class="input-field col s6">
                <label for="email" class="active">email</label>
                <input name="email" th:field="*{email}" id="email" class="validate">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input class="waves-effect waves-light btn" type="submit" value="Salvar">
            </div>
        </div>
    </form>
</div>
<br> <br>

<br> <br>

<div class="row">
    <!--Campo para pesquisar sala por nome-->
    <form action="/aluno/pesquisar" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <label for="nome" class="active">Pesquisa por nome: </label>
                <input name="nome" id="nome" class="validate">
                <input class="waves-effect waves-light btn" type="submit" value="Buscar">
                <a class="waves-effect waves-light btn" href="/salas">Listar salas</a>
            </div>
        </div>
    </form>
</div>
<br> <br>

<table class="striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Mãe</th>
        <th>Pai</th>
        <th>Matrícula</th>
        <th>Email</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    <tr th:each="aluno : ${alunos}">
        <td th:text=${aluno.id}></td>
        <td th:text=${aluno.nome}></td>
        <td th:text=${aluno.sobrenome}></td>
        <td th:text=${aluno.mae}></td>
        <td th:text=${aluno.pai}></td>
        <td th:text=${aluno.matricula}></td>
        <td th:text=${aluno.email}></td>
        <td><a th:href="@{/aluno/editar/{idaluno}(idaluno=${aluno.id})}">Editar</a></td>
        <td><a th:href="@{/aluno/excluir/{idaluno}(idaluno=${aluno.id})}">Excluir</a></td>
    </tr>
</table>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>