<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Aluno - Editar</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection"/>
</head>
<body>
<div class="row">
    <!--Campo para dados da aluno-->
    <form action="/aluno/salvar" method="post" th:object="${aluno}" class="col s12" id="formsalvar">
        <div class="row">
            <div class="input-field col s6">
                <label for="id" class="active">Id</label>
                <input name="id" th:field="*{id}" readonly="readonly" id="id" class="validate">
            </div>
            <div class="input-field col s6">
                <label for="nome" class="active">Nome</label>
                <input name="nome" th:field="*{nome}" id="nome" class="validate">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="disponibilidade" class="active">Disponibilidade</label>
                <input name="disponibilidade" th:field="*{disponibilidade}" id="disponibilidade" class="validate">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input class="waves-effect waves-light btn" type="submit" value="Salvar">
                <button class="waves-effect waves-light btn"
                        onclick="document.getElementById('formsalvar').reset();">Novo
                </button>
            </div>
        </div>
    </form>
</div>
<br> <br>
<br> <br>

<!--Campo para listar alunos-->
<table class="striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Disponibilidade</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    <tr th:each="aluno : ${alunos}">
        <td th:text=${aluno.id}></td>
        <td><a th:href="@{/endereco/{idaluno}(idaluno=${aluno.id})}"><span th:text=${aluno.nome}></span></a></td>
        <td th:text=${aluno.disponibilidade}></td>
        <td><a th:href="@{/editaralunos/{idaluno}(idaluno=${aluno.id})}">Editar</a></td>
        <td><a th:href="@{/excluir/{idaluno}(idaluno=${aluno.id})}">Excluir</a></td>
    </tr>
</table>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
</body>
</html>